/****** Tablas ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ANALITICAS](
    [IdAnalitica] [int] NOT NULL,
    [IdCita] [int] NOT NULL,
    [FechaAnalitica] [datetime] NOT NULL,
    [Estado] [nvarchar](50) NOT NULL,
    [Notas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED ([IdAnalitica] ASC)
)
GO

CREATE TABLE [dbo].[ANTECEDENTES_MEDICOS](
    [IdAntecedente] [int] NOT NULL,
    [IdPaciente] [int] NOT NULL,
    [Tipo] [nvarchar](50) NOT NULL,
    [Nombre] [nvarchar](100) NOT NULL,
    [Severidad] [nvarchar](20) NULL,
    [FechaDiagnostico] [datetime] NULL,
    [Notas] [nvarchar](max) NULL,
    [Activo] [bit] NOT NULL,
    [FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED ([IdAntecedente] ASC)
)
GO

CREATE TABLE [dbo].[CITAS](
    [IdCita] [int] NOT NULL,
    [IdPaciente] [int] NOT NULL,
    [IdDoctor] [int] NOT NULL,
    [Motivo] [nvarchar](max) NOT NULL,
    [FechaHora] [datetime] NOT NULL,
    [Notas] [nvarchar](max) NULL,
    [Estado] [nvarchar](20) NOT NULL,
    [FechaCreacion] [datetime] NULL,
    [Activa] [bit] NULL,
PRIMARY KEY CLUSTERED ([IdCita] ASC)
)
GO

CREATE TABLE [dbo].[CREDENCIALES](
    [IdCredencial] [int] NOT NULL,
    [IdUsuario] [int] NOT NULL,
    [PasswordHash] [varbinary](max) NOT NULL,
    [Salt] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([IdCredencial] ASC)
)
GO

CREATE TABLE [dbo].[ESPECIALIDADES](
    [IdEspecialidad] [int] NOT NULL,
    [NombreEspecialidad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([IdEspecialidad] ASC)
)
GO

CREATE TABLE [dbo].[INFO_CLINICA_PACIENTES](
    [IdInfoClinica] [int] NOT NULL,
    [IdPaciente] [int] NOT NULL,
    [GrupoSanguineo] [nvarchar](5) NULL,
    [ContactoEmergenciaNombre] [nvarchar](100) NULL,
    [ContactoEmergenciaTelefono] [nvarchar](12) NULL,
    [FechaActualizacion] [datetime] NULL,
    [PesoActual] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED ([IdInfoClinica] ASC)
)
GO

CREATE TABLE [dbo].[MEDICAMENTOS](
    [IdMedicamento] [int] NOT NULL,
    [NombreComercial] [nvarchar](100) NOT NULL,
    [PrincipioActivo] [nvarchar](100) NOT NULL,
    [Concentracion] [nvarchar](50) NOT NULL,
    [Formato] [nvarchar](50) NOT NULL,
    [Fabricante] [nvarchar](100) NULL,
    [Activo] [bit] NOT NULL,
    [FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED ([IdMedicamento] ASC)
)
GO

CREATE TABLE [dbo].[MEDICIONES](
    [IdMedicion] [int] NOT NULL,
    [IdTipoMedicion] [int] NOT NULL,
    [ValorMedicion] [decimal](10, 2) NOT NULL,
    [IdAnalitica] [int] NULL,
    [IdCita] [int] NULL,
PRIMARY KEY CLUSTERED ([IdMedicion] ASC)
)
GO

CREATE TABLE [dbo].[PRESCRIPCIONES](
    [IdPrescripcion] [int] NOT NULL,
    [IdCita] [int] NOT NULL,
    [IdMedicamento] [int] NOT NULL,
    [Instrucciones] [nvarchar](100) NOT NULL,
    [FechaInicio] [date] NOT NULL,
    [FechaFin] [date] NOT NULL,
    [Activa] [bit] NULL,
    [FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED ([IdPrescripcion] ASC)
)
GO

CREATE TABLE [dbo].[TIPOS_MEDICIONES](
    [IdTipoMedicion] [int] NOT NULL,
    [NombreMedicion] [nvarchar](50) NOT NULL,
    [UnidadMedicion] [nvarchar](10) NOT NULL,
    [ValorMaximo] [decimal](10, 2) NOT NULL,
    [ValorMinimo] [decimal](10, 2) NOT NULL,
    [Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED ([IdTipoMedicion] ASC)
)
GO

CREATE TABLE [dbo].[USUARIOS](
    [IdUsuario] [int] NOT NULL,
    [Nombre] [nvarchar](50) NOT NULL,
    [Apellido1] [nvarchar](50) NOT NULL,
    [Apellido2] [nvarchar](50) NULL,
    [Dni] [nvarchar](20) NOT NULL,
    [FechaNacimiento] [date] NOT NULL,
    [Telefono] [nvarchar](12) NOT NULL,
    [Genero] [nvarchar](20) NOT NULL,
    [Direccion] [nvarchar](100) NOT NULL,
    [Email] [nvarchar](100) NOT NULL,
    [Pass] [nvarchar](100) NOT NULL,
    [Rol] [nvarchar](10) NOT NULL,
    [IdEspecialidad] [int] NULL,
    [NumeroColegiado] [nvarchar](20) NULL,
    [NumeroAsegurado] [nvarchar](20) NULL,
    [Activo] [bit] NOT NULL,
    [FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED ([IdUsuario] ASC)
)
GO

/****** Inserción de Datos ******/

INSERT [dbo].[ANALITICAS] ([IdAnalitica], [IdCita], [FechaAnalitica], [Estado], [Notas]) VALUES (1, 9, CAST(N'2026-01-21T08:30:00.000' AS DateTime), N'completada', N'Perfil lipídico y básico de orina. Resultados dentro de la normalidad.')
INSERT [dbo].[ANALITICAS] ([IdAnalitica], [IdCita], [FechaAnalitica], [Estado], [Notas]) VALUES (2, 12, CAST(N'2026-04-05T08:00:00.000' AS DateTime), N'programada', N'Requiere ayuno estricto de 8 horas. Control de niveles LDL/HDL.')
GO

INSERT [dbo].[ANTECEDENTES_MEDICOS] ([IdAntecedente], [IdPaciente], [Tipo], [Nombre], [Severidad], [FechaDiagnostico], [Notas], [Activo], [FechaRegistro]) VALUES (1, 8, N'cirugia', N'Apendicectomía', N'leve', CAST(N'2018-05-14T00:00:00.000' AS DateTime), N'Cirugía laparoscópica sin complicaciones.', 1, CAST(N'2026-03-16T22:01:07.577' AS DateTime))
INSERT [dbo].[ANTECEDENTES_MEDICOS] ([IdAntecedente], [IdPaciente], [Tipo], [Nombre], [Severidad], [FechaDiagnostico], [Notas], [Activo], [FechaRegistro]) VALUES (2, 8, N'habito', N'Deporte de impacto (Running)', NULL, CAST(N'2022-01-01T00:00:00.000' AS DateTime), N'Corre 4 veces por semana. Posible causa del dolor de rodilla.', 1, CAST(N'2026-03-16T22:01:07.577' AS DateTime))
INSERT [dbo].[ANTECEDENTES_MEDICOS] ([IdAntecedente], [IdPaciente], [Tipo], [Nombre], [Severidad], [FechaDiagnostico], [Notas], [Activo], [FechaRegistro]) VALUES (3, 9, N'alergia', N'Polen y gramíneas', N'moderada', CAST(N'2021-03-10T00:00:00.000' AS DateTime), N'Requiere antihistamínicos en primavera. Controlado.', 1, CAST(N'2026-03-16T22:01:07.577' AS DateTime))
GO

INSERT [dbo].[CITAS] ([IdCita], [IdPaciente], [IdDoctor], [Motivo], [FechaHora], [Notas], [Estado], [FechaCreacion], [Activa]) VALUES (1, 8, 5, N'Revisión anual de salud', CAST(N'2026-01-15T09:00:00.000' AS DateTime), N'Paciente presenta buena salud general.', N'completada', CAST(N'2026-03-16T21:51:04.813' AS DateTime), 1)
INSERT [dbo].[CITAS] ([IdCita], [IdPaciente], [IdDoctor], [Motivo], [FechaHora], [Notas], [Estado], [FechaCreacion], [Activa]) VALUES (2, 8, 6, N'Dolor persistente en rodilla izquierda', CAST(N'2026-02-10T11:30:00.000' AS DateTime), N'Se recomienda radiografía.', N'completada', CAST(N'2026-03-16T21:51:04.813' AS DateTime), 1)
INSERT [dbo].[CITAS] ([IdCita], [IdPaciente], [IdDoctor], [Motivo], [FechaHora], [Notas], [Estado], [FechaCreacion], [Activa]) VALUES (3, 8, 7, N'Seguimiento traumatología', CAST(N'2026-03-20T10:00:00.000' AS DateTime), N'Revisar resultados de placa.', N'cancelada', CAST(N'2026-03-16T21:51:04.813' AS DateTime), 0)
GO

INSERT [dbo].[CREDENCIALES] ([IdCredencial], [IdUsuario], [PasswordHash], [Salt]) VALUES (1, 1, 0xED48BBDA5A90D76103FC93E874A18A718BE1A349A91BD7ED73864D2A1A1A58E63C663369F98814F9866F65CBAC0322AD32C96C95983E4152DE05E4A3373F1F08, N'·Q&''A 7¥«`òsññ—''¬aaèàîö_.W´_îVŒYõ}:aZ4cím ‘îT')
INSERT [dbo].[CREDENCIALES] ([IdCredencial], [IdUsuario], [PasswordHash], [Salt]) VALUES (2, 2, 0x6574DE63D44FC4138082F6D67C4B1995F5B957D637E18EF18A816306728B445B47487F639BC425FA46E6A6025D813D323E49D504A856D801537D637CED9AEA8D, N'Zæô@qH=1û»Êƒà€ûæI*}®Û®=5½}—C]âr¶rè%ðÒ€Þ©')
INSERT [dbo].[CREDENCIALES] ([IdCredencial], [IdUsuario], [PasswordHash], [Salt]) VALUES (3, 3, 0x716B8A3E0D3C9E0E71E9F8BC1DE0A17C2D9E0420E0EAB2D263DBEAD3AB1699840BE1CC225CEE90569C58F40EE424C94DCFA2653B49AABCCE9804DFB946A92855, N'Ü?¥ƒ|wpñïÓyð-9xÁ)ÉÂ¹áøßFKp\p!ÀBC‚ãðÝrÉ0yKÓ•îP‹vS')
INSERT [dbo].[CREDENCIALES] ([IdCredencial], [IdUsuario], [PasswordHash], [Salt]) VALUES (6, 6, 0xF94EC1C3D237756C7F090872DA478D41233074D8CE20B6F6625ECAA5E2BACC2337A1F24D11DEF58E16E3FAA58F8B57D4CC9AAE1EFEC216DEF5B970D4E1583F14, N'%÷•
àõvÇ~AXöçªÔÓQË7û‘ŒwÕ‡Á£š­ ˜g¾9æ³ÀÒ(Y@yl')
GO

INSERT [dbo].[ESPECIALIDADES] ([IdEspecialidad], [NombreEspecialidad]) VALUES (1, N'Medicina General')
INSERT [dbo].[ESPECIALIDADES] ([IdEspecialidad], [NombreEspecialidad]) VALUES (2, N'Pediatría')
INSERT [dbo].[ESPECIALIDADES] ([IdEspecialidad], [NombreEspecialidad]) VALUES (3, N'Cardiología')
GO

INSERT [dbo].[INFO_CLINICA_PACIENTES] ([IdInfoClinica], [IdPaciente], [GrupoSanguineo], [ContactoEmergenciaNombre], [ContactoEmergenciaTelefono], [FechaActualizacion], [PesoActual]) VALUES (1, 8, N'A+', N'Carlos Hierro (Padre)', N'600112233', CAST(N'2026-03-16T22:00:46.787' AS DateTime), CAST(64.50 AS Decimal(5, 2)))
INSERT [dbo].[INFO_CLINICA_PACIENTES] ([IdInfoClinica], [IdPaciente], [GrupoSanguineo], [ContactoEmergenciaNombre], [ContactoEmergenciaTelefono], [FechaActualizacion], [PesoActual]) VALUES (2, 9, N'O-', N'Ana López (Madre)', N'611998877', CAST(N'2026-03-16T22:00:46.787' AS DateTime), CAST(38.20 AS Decimal(5, 2)))
INSERT [dbo].[INFO_CLINICA_PACIENTES] ([IdInfoClinica], [IdPaciente], [GrupoSanguineo], [ContactoEmergenciaNombre], [ContactoEmergenciaTelefono], [FechaActualizacion], [PesoActual]) VALUES (3, 10, N'B+', N'Sofía Reyes (Esposa)', N'622445566', CAST(N'2026-03-16T22:00:46.787' AS DateTime), CAST(89.00 AS Decimal(5, 2)))
GO

INSERT [dbo].[MEDICAMENTOS] ([IdMedicamento], [NombreComercial], [PrincipioActivo], [Concentracion], [Formato], [Fabricante], [Activo], [FechaCreacion]) VALUES (1, N'Paracetamol Kern', N'Paracetamol', N'1g', N'comprimidos', N'Kern Pharma', 1, CAST(N'2026-03-16T21:44:40.590' AS DateTime))
INSERT [dbo].[MEDICAMENTOS] ([IdMedicamento], [NombreComercial], [PrincipioActivo], [Concentracion], [Formato], [Fabricante], [Activo], [FechaCreacion]) VALUES (2, N'Nolotil', N'Metamizol Magnésico', N'575mg', N'comprimidos', N'Boehringer Ingelheim', 1, CAST(N'2026-03-16T21:44:40.590' AS DateTime))
INSERT [dbo].[MEDICAMENTOS] ([IdMedicamento], [NombreComercial], [PrincipioActivo], [Concentracion], [Formato], [Fabricante], [Activo], [FechaCreacion]) VALUES (3, N'Augmentine', N'Amoxicilina/Ácido Clavulánico', N'875/125mg', N'comprimidos', N'GSK', 1, CAST(N'2026-03-16T21:44:40.590' AS DateTime))
GO

INSERT [dbo].[MEDICIONES] ([IdMedicion], [IdTipoMedicion], [ValorMedicion], [IdAnalitica], [IdCita]) VALUES (1, 7, CAST(215.50 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[MEDICIONES] ([IdMedicion], [IdTipoMedicion], [ValorMedicion], [IdAnalitica], [IdCita]) VALUES (2, 8, CAST(142.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[MEDICIONES] ([IdMedicion], [IdTipoMedicion], [ValorMedicion], [IdAnalitica], [IdCita]) VALUES (3, 9, CAST(45.00 AS Decimal(10, 2)), 1, NULL)
GO

INSERT [dbo].[PRESCRIPCIONES] ([IdPrescripcion], [IdCita], [IdMedicamento], [Instrucciones], [FechaInicio], [FechaFin], [Activa], [FechaCreacion]) VALUES (1, 6, 1, N'1g cada 8 horas si hay fiebre superior a 38 grados.', CAST(N'2026-02-20' AS Date), CAST(N'2026-02-25' AS Date), 0, CAST(N'2026-03-16T21:55:21.660' AS DateTime))
INSERT [dbo].[PRESCRIPCIONES] ([IdPrescripcion], [IdCita], [IdMedicamento], [Instrucciones], [FechaInicio], [FechaFin], [Activa], [FechaCreacion]) VALUES (2, 6, 3, N'875/125mg cada 12 horas con las comidas principales.', CAST(N'2026-02-20' AS Date), CAST(N'2026-02-27' AS Date), 0, CAST(N'2026-03-16T21:55:21.660' AS DateTime))
INSERT [dbo].[PRESCRIPCIONES] ([IdPrescripcion], [IdCita], [IdMedicamento], [Instrucciones], [FechaInicio], [FechaFin], [Activa], [FechaCreacion]) VALUES (3, 6, 15, N'5ml cada 8 horas solo en caso de tos persistente.', CAST(N'2026-02-20' AS Date), CAST(N'2026-02-25' AS Date), 0, CAST(N'2026-03-16T21:55:21.660' AS DateTime))
GO

INSERT [dbo].[TIPOS_MEDICIONES] ([IdTipoMedicion], [NombreMedicion], [UnidadMedicion], [ValorMaximo], [ValorMinimo], [Activo]) VALUES (1, N'Glucosa Basal', N'mg/dL', CAST(100.00 AS Decimal(10, 2)), CAST(70.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[TIPOS_MEDICIONES] ([IdTipoMedicion], [NombreMedicion], [UnidadMedicion], [ValorMaximo], [ValorMinimo], [Activo]) VALUES (2, N'Presión Arterial Sistólica', N'mmHg', CAST(135.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[TIPOS_MEDICIONES] ([IdTipoMedicion], [NombreMedicion], [UnidadMedicion], [ValorMaximo], [ValorMinimo], [Activo]) VALUES (3, N'Presión Arterial Diastólica', N'mmHg', CAST(85.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), 1)
GO

INSERT [dbo].[USUARIOS] ([IdUsuario], [Nombre], [Apellido1], [Apellido2], [Dni], [FechaNacimiento], [Telefono], [Genero], [Direccion], [Email], [Pass], [Rol], [IdEspecialidad], [NumeroColegiado], [NumeroAsegurado], [Activo], [FechaCreacion]) VALUES (1, N'Julio', N'Ordoñez', N'Rimacuna', N'51234567A', CAST(N'2002-07-10' AS Date), N'612345678', N'masculino', N'Ave del Paraíso 7 1ºC, 28064 Madrid', N'julio.ordonez@magerithealth.com', N'EqfW9WfXrX', N'admin', NULL, NULL, NULL, 1, CAST(N'2020-01-01T17:30:00.000' AS DateTime))
INSERT [dbo].[USUARIOS] ([IdUsuario], [Nombre], [Apellido1], [Apellido2], [Dni], [FechaNacimiento], [Telefono], [Genero], [Direccion], [Email], [Pass], [Rol], [IdEspecialidad], [NumeroColegiado], [NumeroAsegurado], [Activo], [FechaCreacion]) VALUES (2, N'Carlos', N'Ruiz', N'Peláyez', N'12345678B', CAST(N'1986-05-12' AS Date), N'697631576', N'masculino', N'Calle Mayor 1 4ºD, 28025 Madrid', N'carlos.ruiz@magerithealth.com', N'8UuwX@RDex', N'admin', NULL, NULL, NULL, 1, CAST(N'2026-03-16T21:21:20.410' AS DateTime))
INSERT [dbo].[USUARIOS] ([IdUsuario], [Nombre], [Apellido1], [Apellido2], [Dni], [FechaNacimiento], [Telefono], [Genero], [Direccion], [Email], [Pass], [Rol], [IdEspecialidad], [NumeroColegiado], [NumeroAsegurado], [Activo], [FechaCreacion]) VALUES (3, N'Elena', N'Martínez', N'Ochoa', N'87654321B', CAST(N'1990-11-20' AS Date), N'631674424', N'femenino', N'Av. Libertad 45 6ºDCHA, 28081Madrid', N'elena.martinez@magerithealth.com', N'q0hPN#J_kX', N'admin', NULL, NULL, NULL, 1, CAST(N'2026-03-16T21:22:19.100' AS DateTime))
GO

/****** Restricciones e Índices ******/

ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] ADD UNIQUE NONCLUSTERED ([IdPaciente] ASC)
GO
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED ([Email] ASC)
GO
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED ([Dni] ASC)
GO

ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] ADD DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] ADD DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CITAS] ADD DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CITAS] ADD DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] ADD DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[MEDICAMENTOS] ADD DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MEDICAMENTOS] ADD DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] ADD DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] ADD DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] ADD DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TIPOS_MEDICIONES] ADD DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD DEFAULT (getdate()) FOR [FechaCreacion]
GO

ALTER TABLE [dbo].[ANALITICAS] WITH CHECK ADD CONSTRAINT [FK_ANALITICAS_CITAS] FOREIGN KEY([IdCita]) REFERENCES [dbo].[CITAS] ([IdCita])
GO
ALTER TABLE [dbo].[ANALITICAS] CHECK CONSTRAINT [FK_ANALITICAS_CITAS]
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] WITH CHECK ADD CONSTRAINT [FK_ANTECEDENTES_PACIENTES] FOREIGN KEY([IdPaciente]) REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] CHECK CONSTRAINT [FK_ANTECEDENTES_PACIENTES]
GO
ALTER TABLE [dbo].[CITAS] WITH CHECK ADD CONSTRAINT [FK_CITAS_DOCTORES] FOREIGN KEY([IdDoctor]) REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_DOCTORES]
GO
ALTER TABLE [dbo].[CITAS] WITH CHECK ADD CONSTRAINT [FK_CITAS_PACIENTES] FOREIGN KEY([IdPaciente]) REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_PACIENTES]
GO
ALTER TABLE [dbo].[CREDENCIALES] WITH CHECK ADD CONSTRAINT [FK_CREDENCIALES_USUARIOS] FOREIGN KEY([IdUsuario]) REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[CREDENCIALES] CHECK CONSTRAINT [FK_CREDENCIALES_USUARIOS]
GO
ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] WITH CHECK ADD CONSTRAINT [FK_INFOCLINICA_PACIENTES] FOREIGN KEY([IdPaciente]) REFERENCES [dbo].[USUARIOS] ([IdUsuario])
GO
ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] CHECK CONSTRAINT [FK_INFOCLINICA_PACIENTES]
GO
ALTER TABLE [dbo].[MEDICIONES] WITH CHECK ADD CONSTRAINT [FK_MEDICIONES_ANALISIS] FOREIGN KEY([IdAnalitica]) REFERENCES [dbo].[ANALITICAS] ([IdAnalitica])
GO
ALTER TABLE [dbo].[MEDICIONES] CHECK CONSTRAINT [FK_MEDICIONES_ANALISIS]
GO
ALTER TABLE [dbo].[MEDICIONES] WITH CHECK ADD CONSTRAINT [FK_MEDICIONES_TIPOSMEDICIONES] FOREIGN KEY([IdTipoMedicion]) REFERENCES [dbo].[TIPOS_MEDICIONES] ([IdTipoMedicion])
GO
ALTER TABLE [dbo].[MEDICIONES] CHECK CONSTRAINT [FK_MEDICIONES_TIPOSMEDICIONES]
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] WITH CHECK ADD CONSTRAINT [FK_PRESCRIPCIONES_CITAS] FOREIGN KEY([IdCita]) REFERENCES [dbo].[CITAS] ([IdCita])
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] CHECK CONSTRAINT [FK_PRESCRIPCIONES_CITAS]
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] WITH CHECK ADD CONSTRAINT [FK_PRESCRIPCIONES_MEDICAMENTOS] FOREIGN KEY([IdMedicamento]) REFERENCES [dbo].[MEDICAMENTOS] ([IdMedicamento])
GO
ALTER TABLE [dbo].[PRESCRIPCIONES] CHECK CONSTRAINT [FK_PRESCRIPCIONES_MEDICAMENTOS]
GO
ALTER TABLE [dbo].[USUARIOS] WITH CHECK ADD CONSTRAINT [FK_USUARIOS_ESPECIALIDADES] FOREIGN KEY([IdEspecialidad]) REFERENCES [dbo].[ESPECIALIDADES] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ESPECIALIDADES]
GO

ALTER TABLE [dbo].[ANALITICAS] WITH CHECK ADD CONSTRAINT [CK_ANALITICAS_ESTADOS] CHECK (([Estado]='cancelada' OR [Estado]='completada' OR [Estado]='progreso' OR [Estado]='programada'))
GO
ALTER TABLE [dbo].[ANALITICAS] CHECK CONSTRAINT [CK_ANALITICAS_ESTADOS]
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] WITH CHECK ADD CONSTRAINT [CK_ANTECEDENTES_SEVERIDAD] CHECK (([Severidad]='critica' OR [Severidad]='grave' OR [Severidad]='moderada' OR [Severidad]='leve'))
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] CHECK CONSTRAINT [CK_ANTECEDENTES_SEVERIDAD]
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] WITH CHECK ADD CONSTRAINT [CK_ANTECEDENTES_TIPO] CHECK (([Tipo]='otro' OR [Tipo]='habito' OR [Tipo]='cirugia' OR [Tipo]='enfermedad' OR [Tipo]='alergia'))
GO
ALTER TABLE [dbo].[ANTECEDENTES_MEDICOS] CHECK CONSTRAINT [CK_ANTECEDENTES_TIPO]
GO
ALTER TABLE [dbo].[CITAS] WITH CHECK ADD CONSTRAINT [CK_CITAS_ESTADOS] CHECK (([Estado]='cancelada' OR [Estado]='completada' OR [Estado]='progreso' OR [Estado]='programada'))
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [CK_CITAS_ESTADOS]
GO
ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] WITH CHECK ADD CONSTRAINT [CK_INFOCLINICA_SANGRE] CHECK (([GrupoSanguineo]='O-' OR [GrupoSanguineo]='O+' OR [GrupoSanguineo]='AB-' OR [GrupoSanguineo]='AB+' OR [GrupoSanguineo]='B-' OR [GrupoSanguineo]='B+' OR [GrupoSanguineo]='A-' OR [GrupoSanguineo]='A+'))
GO
ALTER TABLE [dbo].[INFO_CLINICA_PACIENTES] CHECK CONSTRAINT [CK_INFOCLINICA_SANGRE]
GO
ALTER TABLE [dbo].[MEDICAMENTOS] WITH CHECK ADD CONSTRAINT [CK_MEDICAMENTOS_FORMATO] CHECK (([Formato]='otro' OR [Formato]='gotas' OR [Formato]='crema' OR [Formato]='inyectable' OR [Formato]='sobres' OR [Formato]='jarabe' OR [Formato]='comprimidos'))
GO
ALTER TABLE [dbo].[MEDICAMENTOS] CHECK CONSTRAINT [CK_MEDICAMENTOS_FORMATO]
GO
ALTER TABLE [dbo].[USUARIOS] WITH CHECK ADD CONSTRAINT [CK_USUARIOS_DOCTORES] CHECK (([Rol]<>'doctor' OR [IdEspecialidad] IS NOT NULL AND [NumeroColegiado] IS NOT NULL))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_USUARIOS_DOCTORES]
GO
ALTER TABLE [dbo].[USUARIOS] WITH CHECK ADD CONSTRAINT [CK_USUARIOS_GENEROS] CHECK (([Genero]='otro' OR [Genero]='femenino' OR [Genero]='masculino'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_USUARIOS_GENEROS]
GO
ALTER TABLE [dbo].[USUARIOS] WITH CHECK ADD CONSTRAINT [CK_USUARIOS_PACIENTES] CHECK (([Rol]<>'paciente' OR [NumeroAsegurado] IS NOT NULL))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_USUARIOS_PACIENTES]
GO
ALTER TABLE [dbo].[USUARIOS] WITH CHECK ADD CONSTRAINT [CK_USUARIOS_ROLES] CHECK (([Rol]='admin' OR [Rol]='paciente' OR [Rol]='doctor'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_USUARIOS_ROLES]
GO

